@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-kumbh-sans;
    }
    img{
        @apply w-full ;
    }
    

}

@layer components {
    .container {
        @apply px-6 mx-auto max-w-[1158px];
    }
}

.use-spring-carousel-thumbs-wrapper>:not(:last-of-type) {
    margin-right: 32px;
}


.thumbnails .slick-list {margin: 0 -16px;}
.thumbnails .slick-slide > div {padding: 0 16px;}